@-ms-viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: calc(100% - 2em);
  max-width: 48em;
  margin-right: auto;
  margin-left: auto;
}
